body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.medicines{
text-align:left;
padding:10px;}


.results{
  text-align:left;
  display:flex;
}

div.doctors{
  text-align:left;
  display:flex;
  padding:10px;
}
p.doctors{
  text-align:left;
  padding:10px;
}

p.medicines{
  text-align:left;
}
.ui.fixed.table{
  padding:10px;
}

.ui.table{
  padding:10px;
}
.ui.form{
  padding:10px;
}

.dropdown{
  display:flex;
}
